{# templates/procurement/_nav.html #}
{% with url_name=request.resolver_match.url_name %}
<nav class="mb-4 border-b border-gray-200">
  <ul class="flex flex-wrap gap-4 text-sm">
    <li>
      <a href="{% url 'procurement:order_list' %}"
         class="pb-2 border-b-2 transition-colors
         {% if url_name in 'order_list order_create order_update' %}
            border-blue-600 text-blue-600
         {% else %}
            border-transparent text-gray-600 hover:text-blue-600
         {% endif %}">
        Órdenes de compra
      </a>
    </li>
        {# Recepciones de materia prima #}
    <li>
      <a href="{% url 'procurement:receptions_list' %}"
         class="pb-2 border-b-2 transition-colors
         {% if 'receptions' in url_name %}
            border-blue-600 text-blue-600
         {% else %}
            border-transparent text-gray-600 hover:text-blue-600
         {% endif %}">
        Recepciones MP
      </a>
    </li>
  </ul>
</nav>
{% endwith %}
