[Unit]
Description=Gunicorn daemon for Kore ERP
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
WorkingDirectory=/var/www/kore_erp
Environment="PATH=/var/www/kore_erp/.venv/bin"
ExecStart=/var/www/kore_erp/.venv/bin/gunicorn \
          --config gunicorn_config.py \
          config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
